[build]
publish = "client/dist"
command = "npm run build"
base = "client"
ignore = "false"

[build.environment]
  VITE_SERVER_URL = "https://walrus-jpfl.onrender.com"

[context.production.environment]
  VITE_SERVER_URL = "https://walrus-jpfl.onrender.com"

[context.deploy-preview.environment]
  VITE_SERVER_URL = "https://walrus-jpfl.onrender.com"


