[build]
publish = "dist"
command = "npm run build"
ignore = "false"

[[redirects]]
  from = "/api/*"
  to = "https://walrus-git-kl-prod-api-fix-neils-projects-3cbdf85d.vercel.app/api/:splat"
  status = 200
  force = true

