[build]
publish = "client/dist"
command = "npm run build"
base = "client"
ignore = "false"

[build.environment]
  VITE_SERVER_URL = ""

[context.production.environment]
  VITE_SERVER_URL = ""

[context.deploy-preview.environment]
  VITE_SERVER_URL = ""

# Proxy API requests to the external server
[[redirects]]
  from = "/api/*"
  to = "http://169.231.231.63:3000/api/:splat"
  status = 200
  force = true


