[build]
base = "client"
publish = "dist"
command = "npm install && npm run build"

[context.production.environment]
  VITE_SERVER_URL = "https://walrus-three.vercel.app"

[context.deploy-preview.environment]
  VITE_SERVER_URL = "https://walrus-three.vercel.app"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200



